/* Variáveis comuns */
:root {

    --clr-branco: #FFF;
    --clr-cinza-claro: #EAECF0;
    --clr-cinza-medio: #667085;
    --clr-cinza-escuro: #101828;
    --clr-vermelho-escuro: #8E2424;
    --clr-vermelho-escuro_a05: #8E242405;
    --fnt-inter: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-branco);
  color: var(--clr-cinza-medio);
  font-family: var(--fnt-inter);
  height: 100vh;
  width: 100%;
}
