.navegacao {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    padding: 1.5rem 0;
    margin: 0 auto;
    margin-bottom: 8rem;
}

.navegacao a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navegacao a .logo__texto {
    color: var(--clr-cinza-medio);
    font-weight: 600;
    margin-left: .75rem;
}

.navegacao .logo__imagem {
    margin: 0;
    padding: 0;
}

.navegacao__menu, .navegacao__login{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.navegacao__menu a, .navegacao__login a {
    color: var(--clr-cinza);
    margin-right: 2rem;
}

.navegacao__login a#cadastrar {
    background-color: var(--clr-vermelho-escuro);
    border-radius: 8px;
    color: var(--clr-branco);
    padding: 10px 18px;
}