.sobre {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 12rem;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 8rem;
    max-width: 1440px;
    padding: 0 20rem;
    width: 100%;
}

.sobre h2 {
    color: var(--clr-vermelho-escuro);
    font-size: 1.25rem;
    font-weight: 600;
}

.sobre h3 {
    color: var(--clr-cinza-escuro);
    font-weight: 600;
    font-size: 3rem;
}

.sobre p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 150%;
    padding:0 10%;
    text-align: center;
}
